html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    text-align: center;
    background-color: #302f2e;
    color: #f6f0ee;
  }
  
  #logo {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    margin-top: 2rem;
  }
  
  h1 {
    color: #ef582e;
  }
  
  a {
    color: #fee389;
  }