html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    text-align: center;
    background-color: #cea69c;
    color: #f0e7e4;
  }
  
  #logo {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    margin-top: 2rem;
  }
  
  h1 {
    color: #3d2c5f;
  }
  
  a {
    color: #ae594f;
  }